<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bluerov2_heavy_alpha_system"
    params="
      prefix
      name
      serial_port
      state_update_frequency
      initial_positions_file
      description_package
      use_sim:=^|false
      use_fake_hardware:=^true">

    <xacro:property name="initial_positions"
      value="${xacro.load_yaml('$(find angler_description)/config/bluerov2_heavy_alpha/$(arg initial_positions_file)')['initial_positions']}" />

    <ros2_control name="${name}" type="system">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>

      <xacro:unless
        value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:if>
          <xacro:unless value="${use_fake_hardware}">
            <plugin>alpha_hardware/AlphaHardware</plugin>
            <param name="serial_port">${serial_port}</param>
            <param name="state_update_frequency">${state_update_frequency}</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}axis_a">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.015</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['alpha_axis_a']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_b">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.22</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['alpha_axis_b']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_c">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.22</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['alpha_axis_c']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_d">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.49</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['alpha_axis_d']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_e">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">6.10</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.5</param>
          <param name="max">0.5</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['alpha_axis_e']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
