# ignore everything
*

# Except the following
!angler_bringup
!angler_control
!angler_description
!angler_planning
!angler_mux
!angler_common
!angler_kinematics
!angler_behaviors
!angler.repos
!sim.repos
!.docker/entrypoints
!requirements-build.txt
!requirements-dev.txt
