# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.mypy_cache/
build
install
log
.vscode
__pycache__

# VCS imports
alpha/
blue/
ros_gz/
gz-plugin/
gz_ros2_control/

# ArduSub SITL
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
logs/
