<?xml version="1.0"?>

<robot name="alpha" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_footprint" />

  <!-- Import Alpha macro -->
  <xacro:include filename="$(find angler_description)/urdf/alpha.urdf.xacro" />

  <xacro:alpha_urdf parent="base_footprint" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alpha_urdf>

</robot>
