<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="angler_gazebo" params="prefix namespace controllers_file">

    <xacro:include filename="$(find angler_description)/gazebo/ardupilot.gazebo.xacro" />
    <xacro:include filename="$(find angler_description)/gazebo/hydrodynamics.gazebo.xacro" />
    <xacro:include filename="$(find angler_description)/gazebo/materials.gazebo.xacro" />
    <xacro:include filename="$(find angler_description)/gazebo/ros2_control.gazebo.xacro" />
    <xacro:include filename="$(find angler_description)/gazebo/sensors.gazebo.xacro" />
    <xacro:include filename="$(find angler_description)/gazebo/thrusters.gazebo.xacro" />

    <xacro:ardupilot prefix="$(arg prefix)" namespace="$(arg namespace)" />
    <xacro:hydrodynamics prefix="$(arg prefix)" />
    <xacro:materials prefix="$(arg prefix)" />
    <xacro:ros2_control namespace="$(arg namespace)" controllers_file="$(arg controllers_file)" />
    <xacro:imu prefix="$(arg prefix)" />
    <xacro:odom prefix="$(arg prefix)" />
    <xacro:thrusters prefix="$(arg prefix)" namespace="$(arg namespace)" />

  </xacro:macro>

</robot>
