<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="materials" params="prefix">

    <gazebo reference="${prefix}alpha_base_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_ee_base_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_m1_link" />
    <gazebo reference="${prefix}alpha_m1_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_m2_1_1_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_m2_1_2_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_m2_joint_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_m3_inline_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_push_rod">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_standard_jaws_base_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_standard_jaws_rs1_130_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}alpha_standard_jaws_rs1_139_link">
      <material>Gazebo/Gray</material>
    </gazebo>

  </xacro:macro>

</robot>
