<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ros2_control" params="namespace controllers_file">

    <!-- Setup ros2_control for the Alpha -->
    <gazebo>
      <plugin filename="libgz_ros2_control-system.so"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <xacro:if value="${namespace != '/'}">
          <ros>
            <namespace>/${namespace[:-1]}</namespace>
          </ros>
          <robot_param_node>/${namespace}robot_state_publisher</robot_param_node>
        </xacro:if>
        <parameters>
          $(find angler_description)/config/${controllers_file}</parameters>
      </plugin>
    </gazebo>


  </xacro:macro>

</robot>
