<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="imu" params="prefix">

    <!-- IMU sensor gyro and accel data will be sent to ArduSub -->
    <gazebo reference="${prefix}base_link">
      <sensor name="imu_sensor" type="imu">
        <!-- Transform from the Gazebo body frame (x-forward, y-left, z-up)
             to the ArduPilot body frame (x-forward, y-right, z-down) -->
        <pose>0 0 0 3.142 0 0</pose>
        <always_on>true</always_on>
        <update_rate>1000.0</update_rate>
        <topic>__default_topic__</topic>
      </sensor>
    </gazebo>

  </xacro:macro>

  <xacro:macro name="odom" params="prefix">
    <!-- Publish the ground-truth pose -->
    <gazebo>
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>map</odom_frame>
        <robot_base_frame>${prefix}base_link</robot_base_frame>
        <dimensions>3</dimensions>
        <odom_publish_frequency>100</odom_publish_frequency>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
