<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="thrusters" params="prefix namespace">

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster1_joint</joint_name>
        <thrust_coefficient>0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster2_joint</joint_name>
        <thrust_coefficient>0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster3_joint</joint_name>
        <!-- Reverse spin to balance torque -->
        <thrust_coefficient>-0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster4_joint</joint_name>
        <!-- Reverse spin to balance torque -->
        <thrust_coefficient>-0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster5_joint</joint_name>
        <thrust_coefficient>0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster6_joint</joint_name>
        <!-- Reverse spin to balance torque -->
        <thrust_coefficient>-0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster7_joint</joint_name>
        <!-- Reverse spin to balance torque -->
        <thrust_coefficient>-0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="gz-sim-thruster-system"
        name="gz::sim::systems::Thruster">
        <namespace>${namespace}</namespace>
        <joint_name>${prefix}thruster8_joint</joint_name>
        <thrust_coefficient>0.02</thrust_coefficient>
        <fluid_density>1000.0</fluid_density>
        <propeller_diameter>0.1</propeller_diameter>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>False</use_angvel_cmd>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
